/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-main-green: rgb(0, 122, 83);
  --clr-main-grey: rgb(105, 63, 35);
  --clr-blue: rgb(0, 14, 103);
  --clr-dark-white: rgb(224, 224, 224);
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 1s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.section-center {
  width: 100vw;
}
.section-title {
  text-align: center;
  padding: 2rem 2rem;
}
/*  global classes */

/* Header on banner */
.banner {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
}
.left-links,
.right-links {
  display: none;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  background: transparent;
}
.toggle {
  justify-self: start;
  font-size: 2rem;
  border: 0;
  background: transparent;
  margin-top: 0.5rem;
}
.search {
  justify-self: end;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 8rem;
  width: 15rem;
  background: white;
  display: grid;
  place-items: center;
  z-index: 4;
}
.img-container {
  display: grid;
  place-items: center;
  height: 4.5rem;
  width: 4rem;
}
.logo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.school-name {
  text-align: center;
}
.school-name h4 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0rem;
}
.school-name h5 {
  margin-bottom: 0;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.navbar {
  position: absolute;
  z-index: 3;
  width: 100%;
}
.other-design-and-text {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 100%;
  width: 100%;
  z-index: 2;
}
.design {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.angle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: rgba(0, 0, 0, 0.3);
  width: 10rem;
  height: 38rem;
  align-self: start;
  margin-bottom: 0;
}
@media screen and (min-width: 765px) {
  .toggle-btn,
  .search {
    display: none;
  }
  .left-links,
  .right-links {
    display: grid;
  }
  .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    padding: 0rem 2rem;
  }
  .link {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--clr-dark-white);
  }
  .navbar {
    background: var(--clr-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15rem;
  }
}

/* Portals */
.portals {
  width: 100vw !important;
}
.list-of-portals {
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
.portal-1-container {
  background: url(./img/portal1.jpg) center/cover no-repeat,
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.portal-2-container {
  background: url(./img/onlineschool2.jpg) center/cover no-repeat,
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
}
.portal-3-container {
  background: url(./img/cbt.jpg) center/cover no-repeat,
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.portal-4-container {
  background: url(./img/vote.jpg) center/cover no-repeat,
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.portal-1-container,
.portal-2-container,
.portal-3-container,
.portal-4-container {
  object-fit: cover;
  transition: var(--transition);
  display: grid;
  place-items: center;

  height: 6rem;
  margin-bottom: 2rem;
}
.portal-logo,
.portal-title {
  background: transparent;
  color: var(--clr-blue);
}
.portal-logo {
  font-size: 2rem;
  margin-bottom: 0;
}
.portal-title {
  color: var(--clr-white);
  font-size: 1.3rem;
  margin-top: 0;
}
.portal-1-container:hover {
  background: var(--clr-blue);
}
.portal-1-container:hover .portal-logo {
  color: var(--clr-white);
}
.portal-2-container:hover {
  background: var(--clr-blue);
}
.portal-2-container:hover .portal-logo {
  color: var(--clr-white);
}
.portal-3-container:hover {
  background: var(--clr-blue);
}
.portal-3-container:hover .portal-logo {
  color: var(--clr-white);
}
.portal-4-container:hover {
  background: var(--clr-blue);
}
.portal-4-container:hover .portal-logo {
  color: var(--clr-white);
}
@media screen and (min-width: 990px) {
  .list-of-portals {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1070px) {
  .list-of-portals {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* details */

.school-details {
  width: 90vw;
  margin: 1rem auto;
}
.detail-1,
.detail-2,
.detail-3,
.detail-4 {
  transition: var(--transition);
  position: relative;
  max-width: 26rem;
  height: 26rem;
  margin-bottom: 3rem;
  overflow: hidden;
}
.detail-img {
  transition: var(--transition);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.detail-short-description {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 2;
  transform: translateX(-50%);
  margin-bottom: 0;
  background: var(--clr-blue);
  color: var(--clr-white);
  text-align: center;
  padding: 1rem 2rem;
}

.detail-2 .detail-short-description,
.detail-2 .detail-info {
  background: var(--clr-main-green);
}
.detail-3 .detail-short-description,
.detail-3 .detail-info {
  background: var(--clr-main-grey);
}
.detail-4 .detail-short-description,
.detail-4 .detail-info {
  background: var(--clr-main-green);
}
.detail-1 .detail-info {
  background: var(--clr-blue);
}
.detail-info h4 {
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-white);
  border-bottom: 1px dashed var(--clr-white);
}
.detail-info p {
  color: var(--clr-white);
  padding: 2rem 1rem;
  text-align: center;
  font-weight: 200;
}
/* detail info to be removed */
.detail-item:hover .detail-info {
  position: absolute;
  width: 75%;
  height: 80%;
  z-index: 4;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin-bottom: 0;
}
.detail-item:hover .detail-img {
  transform: scale(1.03);
}

@media screen and (min-width: 768px) {
  .school-details {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 2rem;
  }
}
@media screen and (min-width: 990px) {
  .school-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* begining of gallery */

.gallery {
  width: 100vw;
}
.gallery-title {
  color: var(--clr-blue);
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5.3rem 1fr;
  align-items: center;
  gap: 0;
}
.line {
  width: calc(50% - 2rem);
  height: 1px;
  background: var(--clr-blue);
}
.line-left {
  justify-self: end;
}
.line-right {
  justify-self: start;
}
.gallery-title h5 {
  justify-self: center;
}

.picture-container {
  position: relative;

  height: 20rem;
  /* margin-top: 2rem; */
}
.picture-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.picture-info {
  top: 25%;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  z-index: 2;
  margin: auto 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.3);
  width: 10rem;
  height: 10rem;
  color: white;
  border-radius: 50%;
  border: 1px dashed var(--clr-white);
}
.picture-info h5 {
  display: none;
}
.gallery-section {
  width: 95%;

  margin: 2rem auto;
  display: grid;
  gap: 0;
}
.picture-container:hover .picture-info {
  border: 0;
  background: blue;
  opacity: 0.6;
  border-radius: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(0);
  font-size: 2rem;
}
.picture-container:hover .picture-text {
  align-self: start;
  display: grid;
  margin-top: 0;
}
.picture-container:hover .picture-icon {
  margin-top: 0;
  align-self: end;
}
@media screen and (min-width: 765px) {
  .gallery-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 990px) {
  .gallery-section {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* news and events */

.events-and-news-container {
  width: 100vw;
}
.news-container {
  text-align: left;
  margin-left: 2rem;
}
.news-container h5 {
  font-size: 1rem;
  display: inline;
  border-bottom: 1px solid var(--clr-blue);
  margin-bottom: 2rem;
}
.news-heading {
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem 0;
}

.events-container {
  display: grid;
  justify-items: center;
  align-items: center;
}
.single-event-container {
  position: relative;
  max-width: 20rem;
  box-shadow: var(--dark-shadow);
  margin: 2rem 0;
  padding: 1rem;
}
.single-event-container h4 {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .events-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .news-container {
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (min-width: 1017px) {
  .news-container {
    text-align: left;
    margin-left: 2rem;
  }
  .events-and-news-container {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  .news-heading h1 {
    font-size: 2rem;
  }
}
/* school admin */
.school-admin {
  width: 100vw;
}
.school-admin-container {
  width: 90vw;
  margin: 6rem auto;
}
.single-admin {
  position: relative;
  max-width: 30rem;
  margin-bottom: 6rem;
  margin-top: 4rem;
  box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
  padding: 2rem;
  padding-top: 6rem;
}
.admin-heading {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.admin-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.admin-footer {
  text-align: right;
}
.admin-picture-container {
  position: absolute;
  top: 0;
  left: 37%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}
.admin-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 900px) {
  .school-admin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

/* section for partners */

.partners-container {
  width: 85vw;
  margin: 2rem auto;
}
.partners-container {
  /* height: 10rem;
  max-width: 20rem;
  margin-bottom: 2rem;
  box-shadow: var(--dark-shadow); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.partner-photo {
  object-fit: cover;
  box-shadow: var(--dark-shadow);
}
@media screen and (min-width: 765px) {
  .partners-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* section footer */
.footer-section {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 50, 160);
  /* opacity: 0.7; */
  display: grid;
  grid-template-rows: 1fr 50px;
  color: var(--clr-white);
}
.footer-contacts {
  font-size: 2rem;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 1px;
}
.single-icon-footer a {
  color: var(--clr-white);
}
.single-icon-footer {
  width: 100%;
  height: 100%;
  background: var(--clr-blue);
  text-align: center;
}
.footer-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto 2rem;

  column-gap: 1rem;
}
.detail {
  border-right: 1px solid var(--clr-white);
}

.address h4 {
  font-size: 2rem;
  margin-bottom: 0;
}
.address h5 {
  font-weight: 200;
  margin-bottom: 2rem;
}
.address-container span {
  display: block;
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 100;
}
.address-container .fa {
  margin-right: 1rem;
  color: var(--clr-main-green);
}
.direction {
  padding-left: 3rem;
}
.direction h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.direction a {
  display: block;
  font-size: 1rem;
  color: var(--clr-white);
  transition: var(--transition);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.direction a:hover {
  color: var(--clr-blue);
  text-decoration: underline;
}
.school-news {
  border-right: 0;
  margin-left: 2rem;
}
.school-news h4 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.school-news li {
  margin-bottom: 0.8rem;
}
/* header */
.header-container {
  background: var(--clr-dark-white);
  width: 100vw;
  height: 1.5rem;
}
